# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Google Drive API Credentials
credentials.json
client_secret.json
token.pickle

# Generated Reports
*.pdf

# Executables
*.exe

# Streamlit
.streamlit/
